.graph{
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;

    &__content{
        width: 60%;
    }

    &__image{
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        display: block;
    }
}