.heading-1{
    font-size: 3.4rem;
    font-weight: 500;
    -webkit-margin-before: .5rem;
            margin-block-start: .5rem;
    -webkit-margin-after: .5rem;
            margin-block-end: .5rem;
}
.heading-3{
    font-size: 1.9rem;
    font-weight: 500;
}
.heading-5{
    font-size: 1.6rem;
    font-weight: 400;
}