.u-margin-bottom-sm{ margin-bottom: 1rem; }
.color-orange{
    color: var(--orange-light);
}
.color-green{
    color: var(--green-light);
}
.color-red{
    color: var(--pink);
}
.table-back-light{
    background-color: $table-row-background;
}
.u-margin-md{
    margin: 6rem 0 !important;
}