$color-white: #ffffff;
$color-background: #e7e7e7;
$color-black: #000;

$color-shadow: #aaa;
$color-foreground: #222;
$color-border: #eee;
// $color-background: #ebebeb;
// $color-primary-light-blur: #5954ee;
$color-primary: #8F42E6 ;
$color-primary-light: #6250ee;
$color-primary-dark: #433df3;
